
<div class="container col-xl-12 ">

	<div class="accordion" id="example">
		<div class="card">
			<div class="card-header  bg-primary">
				<a class="text-light" data-toggle="collapse" href="#item1">
					Sentiment- @Model.script+NF (@Model.expiry)
				</a>
			</div>
			<div id="item1" class="collapse show" data-parent="#example">
				<div class="card-body">

							<div class="row">
						<!-- Border Left Utilities -->
						<div class="col-xl-6">
							<div class="card mb-4  border-left-primary"> @*py-3*@
								<div class="card-body">
									High:36000              Low:35000                      Open:35500
								</div>
							</div>
						</div>

								<div class="col-xl-6">
							<div class="card mb-4 border-left-primary"> @*py-3*@
								<div class="card-body">
									High:16000               Low:15000						Open:15500
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xl-6">
							<partial name="_scriptgraph" model='new {title="BankNifty" }'></partial>
						</div>
						<div class="col-xl-6">
							<partial name="_niftygraph" model='new {title="Nifty" }'></partial>
						</div>
					</div>
				</div>
			</div>
		</div>



				<div class="card ">
			<div class="card-header bg-info">
				<a class="text-light" data-toggle="collapse" href="#item2">
					COI Comparision- @Model.script @Model.strike
				</a>
			</div>
			<div id="item2" class="collapse show" data-parent="#example">
				<div class="card-body">
					<partial name="_coicomparision" model='new{strike=@Model.strike}' />
				</div>
			</div>
		</div>


		<div class="card ">
			<div class="card-header bg-success">
				<a class="text-light" data-toggle="collapse" href="#item3">
					Option chain- @Model.script
				</a>
			</div>
			<div id="item3" class="collapse" data-parent="#example">
				<div class="card-body">
					<div class="row">
						<div class="col-xl-3">
							<partial name="_optionchain" model='new { title="Past",divid="div1", expiry="30-Jun-2022"}' />

						</div>
						<div class="col-xl-6">
							<partial name="_fulloptionchain" model='new { title="BANKNFITY", expiry="30-Jun-2022"}' />
						</div>
						<div class="col-xl-3">
							<partial name="_monthlyOC" model='new { title="BANKNFITY", expiry="30-Jun-2022"}' />
						</div>
					</div>
				</div>
			</div>
		</div>





		

